<% include partials/headers %>

<link rel="stylesheet" type="text/css" href="css/frontPage.css">
</head>

<!-- Body Start -->
<body>

<!-- Background image fader -->
<div class="fader">
</div>

<h1 id="title">Gigz</h1>

<!-- Search Bar -->
  <form action="/secondPage" method="GET" class="container">
      <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
        		    <div class="input-group">
                  <div class="input-group-btn search-panel">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      	<span id="search_concept">Filter by</span> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#hiring">Hiring</a></li>
                        <li><a href="#for_hire">For Hire</a></li>
                      </ul>
                  </div>

                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" id="text-search" class="form-control" name="x" placeholder="Search">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit" onclick="processClick()"><span class="glyphicon glyphicon-search"></span></button>
                    </span>

                </div>
          </div>
    	</div>
  </form>
</div>


<!-- Core JS Files -->
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script src="js/frontPage.js" type="text/javascript"></script>

</body>

<% include partials/footers %>
